# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Run release build from tag

on:
  push:
    tags:
      - '**'

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: read
    environment: CIRelease
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        # IntershopCommunicationsAG/.github/actions/gradle-plugin-setup@v4
        uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-setup@ff333aeeaab710606d0671e7f79047725c7ee190
      - name: Prepare Docker
        uses: ./.github/actions/prepare-docker
        with:
          docker-user: ${{ secrets.DOCKERUSER }}
          docker-password: ${{ secrets.DOCKERPASSWD }}
      - name: Release
        # IntershopCommunicationsAG/.github/actions/gradle-plugin-release@v4
        uses: IntershopCommunicationsAG/.github/actions/gradle-plugin-release@ff333aeeaab710606d0671e7f79047725c7ee190
        with:
          signing-file: ${{ secrets.SIGNINGFILE }}
          signing-key-id: ${{ secrets.SIGNINGKEYID }}
          signing-password: ${{ secrets.SIGNINGPASSWORD }}
          api-key: ${{ secrets.APIKEY }}
          api-secret: ${{ secrets.APISECRET }}
          sonatype-user: ${{ secrets.SONATYPEUSER }}
          sonatype-password: ${{ secrets.SONATYPEPASSWORD }}
